.Notes-body {
  background-color: #282c34;
  min-width: 100vw;
  

  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
}


.col-1 {width: 20.00%;}
.col-2 {width: 80.00%;}



[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid white;
  min-height: 80vh;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}